.header-bottom {
  min-height: 277px;
  margin-bottom: 10px;
  background-image: url('header-bottom-2x.png');
  background-repeat: repeat-x;
}

.title-outer {
  background-image: url('header-top-2x.png');
  height: 110px;
  background-color: #a0c0a8;
  background-repeat: repeat-x;
}

.space-tunnel {
  position: absolute;
  margin-top: 8px;
  width: 84px;
  height: 90px;
  left: 50%;
  transform: translateX(-270px);
  background-image: url('./space-tunnel-2x.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  color: white;
}

.warp {
  position: absolute;
  margin-top: 12px;
  width: 64px;
  height: 96px;
  right: 50%;
  transform: translateX(250px);
  background-image: url('./warp-2x.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media (max-width: 960px) {
  .header-bottom {
    min-height: 238px;
    margin-bottom: 0px;
    background-image: url('./header-bottom-1.5x.png');
  }
  .title-outer {
    background-image: url('header-top-1.5x.png');
  }
}

@media (max-width: 520px) {
  .header-bottom {
    min-height: 194px;
    margin-bottom: 0px;
    background-image: url('./header-bottom-1.2x.png');
  }
  .title-outer {
    background-image: url('header-top-1.2x.png');
    height: 81px;
  }
  .space-tunnel {
    margin: 0px;
    width: 38px;
    height: 78px;
    left: 0%;
    transform: none;
  }
  .title {
    margin-top: 8px;
    font-size: 0.8em;
  }
  .warp {
    margin: 0px;
    width: 37px;
    top: -15px;
    right: 0%;
    transform: none;
  }
}
