.header-bottom {
  background-repeat: repeat-x;
  min-height: 277px;
  margin-bottom: 10px;
  background-image: url('header-background-2x.png');
}

.title-outer {
  background-image: url('header-top-2x.png');
  height: 100px;
  background-color: #a0c0a8;
  background-repeat: repeat-x;
}

.space-tunnel {
  position: absolute;
  margin-top: 8px;
  width: 84px;
  height: 90px;
  left: 50%;
  transform: translateX(-270px);
  background-image: url('./space-tunnel-2x.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  color: white;
}

.warp {
  position: absolute;
  margin-top: 13px;
  width: 64px;
  height: 96px;
  right: 50%;
  transform: translateX(250px);
  background-image: url('./warp-2x.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

@media (max-width: 960px) {
  .header {
    min-height: 238px;
    background-image: url('./header-background-1.5x.png');
  }
  .title-outer {
    background-image: url('header-top-1.5x.png');
  }
}

@media (max-width: 520px) {
  .header {
    min-height: 194px;
    background-image: url('./header-background-1.2x.png');
  }
  .title-outer {
    background-image: url('header-top-1.2x.png');
    height: 70px;
  }
  .space-tunnel {
    margin: 0px;
    width: 36px;
    height: 65px;
    left: 0%;
    transform: none;
  }
  .title {
    margin-top: 8px;
    font-size: 0.8em;
  }
  .warp {
    margin: 0px;
    width: 34px;
    top: -15px;
    right: 0%;
    transform: none;
  }
}
