.border-plane {
  border: 16px solid transparent;
  border-image: url('./border-plane-4x.png') 32 fill;
  border-radius: 32px;
}

.background {
  background-color: black;
}

.mother2-font {
  font-family: MOTHER2;
}
