.border-plane {
  border: 16px solid transparent;
  width: fit-content;
  border-image: url('./border-plane-4x.png') 32;
}

.border-inner {
  background-color: black;
}

.mother2-font {
  font-family: MOTHER2;
}
