.container {
  width: 100%;
}

.not-found {
  height: calc(100vh - 216px - 216px);
  display: grid;
  grid-template-columns: repeat(3, 336px);
  gap: 48px;
  justify-content: center;
  align-items: center;
}
