.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-image: url('./grid-header-2x.png');
  height: 82px;
  background-repeat: repeat-x;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  border-width: 0px 214px 0px 64px;
  border-style: solid;
  border-image-source: url('./border-side-2x.png');
  border-image-slice: 0 214 0 64 fill;
  border-image-outset: 0px 166px 0px 0px;
  border-image-repeat: round;
}

.footer {
  background-image: url('./grid-footer-2x.png');
  height: 272px;
}

@media (max-width: 1280px) {
  .container {
    width: 960px;
  }
  .grid {
    grid-template-columns: repeat(3, 280px);
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
