.container {
  position: relative;
}

.left {
  z-index: 2;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 108px;
  height: 192px;
  background-image: url('./header-left-3x.png');
  background-repeat: repeat-x;
  float: left;
}

.middle {
  position: relative;
  z-index: 1;
  height: 168px;
  background-image: url('./header-middle-3x.png');
  background-repeat: repeat-x;
}

.right {
  position: absolute;
  z-index: 2;
  top: 0%;
  right: 0%;
  width: 108px;
  height: 192px;
  background-image: url('./header-right-3x.png');
  background-repeat: repeat-x;
}

.title {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  color: white;
}

.title a,
.title a:hover,
.title a:visited {
  color: inherit;
}

.title a,
.title a:hover,
.title a:visited {
  text-decoration: none;
}

.padding {
  position: static;
  height: 48px;
  background-image: url('./carpet-3x.png');
  background-repeat: repeat-x;
}
