.header {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 82px;
  background-color: #a0c0a8;
  background-repeat: repeat-x;
  background-position: left bottom;
  background-image: url('./header-background-2x.png');
}
.object {
  text-align: right;
  padding: 0px 40px 0px 0px;
  bottom: 5px;
  position: relative;
}

.content-outer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 40px 0px;
  border-width: 0px 214px 0px 64px;
  border-style: solid;
  border-image-source: url('./border-side-2x.png');
  border-image-slice: 0 214 0 64;
  border-image-outset: 0px 166px 0px 0px;
  border-image-repeat: round;
  background-color: #a0c0a8;
}

.content {
  width: 780px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 1.8;
}

.content h1 {
  font-size: 2.441rem;
  padding: 16px 0px;
  font-weight: bold;
}

.content h2 {
  font-size: 1.953rem;
  padding: 8px 0px;
  font-weight: bold;
}

.content h3 {
  font-size: 1.563rem;
  padding: 4px 0px;
  font-weight: bold;
}

.content h4 {
  font-size: 1.25rem;
  padding: 2px 0px;
  font-weight: bold;
}

.content h5 {
  font-size: 1rem;
  font-weight: bold;
}

.content li {
  list-style-type: circle;
  list-style-position: inside;
}

.content code:not([class]) {
  color: #a0c0a8;
  background-color: #1e1e1e;
  padding: 0.2rem;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono',
    'Courier New', monospace;
}

.content pre {
  border-radius: 5px;
}

.footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 288px;
  background-color: #a0c0a8;
  background-image: url('./footer-background-2x.png');
}

@media (max-width: 960px) {
  .header {
    width: 100%;
    height: 62px;
    background-image: url('header-background-1.5x.png');
  }
  .content-outer {
    width: 100%;
    padding: 30px 40px 40px;
    border: none;
  }
  .content {
    width: 100%;
  }
  .footer {
    width: 100%;
    min-height: 218px;
    background-image: url('footer-background-1.5x.png');
  }
}

@media (max-width: 520px) {
  .header {
    width: 100%;
    height: 49px;
    background-image: url('header-background-1.2x.png');
  }
  .object {
    padding: 0px 10px 0px 0px;
    bottom: 40px;
  }
  .content-outer {
    width: 100%;
    padding: 30px 20px 40px;
    border: none;
  }
  .content {
    width: 100%;
  }
  .footer {
    width: 100%;
    min-height: 174px;
    background-image: url('footer-background-1.2x.png');
  }
  .content h1 {
    font-size: 1.953rem;
    padding: 0px;
  }

  .content h2 {
    font-size: 1.563rem;
  }

  .content h3 {
    font-size: 1.25rem;
  }
  .content h4 {
    font-size: 1rem;
  }
  .content h5 {
    font-size: 1rem;
  }
}
