.header {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 82px;
  background-color: #a0c0a8;
  background-repeat: repeat-x;
  background-image: url('./header-background-2x.png');
}
/* tentatively named just "container".
when other content will appear, will named "content-container" or "body-container" like this in the future */
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-width: 32px 34px 32px 32px;
  border-style: solid;
  border-image-source: url('./pc-border.png');
  border-image-slice: 32 34 32 32 fill;
  border-image-repeat: repeat;
  background-color: #a0c0a8;
}
.footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 288px;
  background-color: #a0c0a8;
  background-image: url('./footer-background-2x.png');
}

@media (max-width: 960px) {
  .header {
    width: 100%;
    min-height: 62px;
    background-image: url('header-background-1.5x.png');
  }
  .container {
    width: 100%;
    border: none;
  }
  .footer {
    width: 100%;
    min-height: 218px;
    background-image: url('footer-background-1.5x.png');
  }
}

@media (max-width: 520px) {
  .header {
    width: 100%;
    min-height: 49px;
    background-image: url('header-background-1.2x.png');
  }
  .container {
    width: 100%;
    border: none;
  }
  .footer {
    width: 100%;
    min-height: 174px;
    background-image: url('footer-background-1.2x.png');
  }
}
